<div class="min-h-screen flex items-center justify-center bg-gradient-to-tr from-pink-100 via-white to-pink-100">
    <div class="bg-white p-10 rounded-3xl shadow-xl max-w-md w-full">
      <div class="flex flex-col items-center space-y-4">
        <img src="assets/logo.png" alt="Logo" class="w-16 h-16" />
        <h2 class="text-2xl font-bold text-pink-500 text-center">Conecta con quien realmente importa</h2>
      </div>
  
      <form (ngSubmit)="loginUser()" [formGroup]="loginForm" class="mt-8 space-y-4">
        <div>
        <input type="text" placeholder="Nombre de usuario" formControlName="username"
               class="w-full p-3 border border-pink-200 rounded-xl focus:outline-none focus:ring-2 focus:ring-pink-400" />
               @if (loginForm.get('username')?.touched && loginForm.get('username')?.invalid) {
                <div class="text-red-600 text-sm mt-1 ml-1">
                  @if (loginForm.get('username')?.errors?.['required']) {
                    <div>* Nombre de usuario es requerido</div>
                  }
                </div>
              }
    </div>
      <div>
        <input type="password" placeholder="Contraseña" formControlName="password"
               class="w-full p-3 border border-pink-200 rounded-xl focus:outline-none focus:ring-2 focus:ring-pink-400" />
               @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
                <div class="text-red-600 text-sm mt-1 ml-1">
                  @if (loginForm.get('password')?.errors?.['required']) {
                    <div>* Contraseña es requerido</div>
                  }
                </div>
              }
      </div>
      @if (formError && formError.length > 0 ){
        <div class="bg-pink-100 border border-pink-400 text-pink-700 px-4 py-3 rounded-xl mb-4 shadow-md">
          <ul class="list-disc list-inside space-y-1">
            <li *ngFor="let error of formError" class="flex items-start gap-2">
              <span class="text-pink-600">⚠️</span>
              <span>{{ error }}</span>
            </li>
          </ul>
        </div>
      }

        <button type="submit"
                class="w-full py-3 rounded-xl text-white font-semibold bg-gradient-to-r from-pink-500 to-orange-400 hover:from-pink-600 hover:to-orange-500">
          Entrar
        </button>
      </form>
  
      <div class="text-center mt-4 text-sm">
        <a routerLink="/auth/register" class="text-pink-500 hover:underline">¿Primera vez aquí?</a>
        <span class="mx-1 text-gray-400">•</span>
        <a href="#" class="text-gray-600 hover:underline">Ayuda</a>
      </div>
    </div>
  </div>
  