<div *ngIf="user() as u" class="mt-4 grid grid-cols-2 items-center bg-gradient-to-r from-pink-400 to-orange-300 p-6 rounded-xl text-white shadow-md mb-4">
    <div class="flex items-center gap-4">
      @if(u.profilePhoto!=null){
      <div class="w-16 h-16 rounded-full bg-white overflow-hidden">
        <img [src]="u.profilePhoto"
             alt="Avatar"
             class="object-cover w-full h-full">
      </div>
      }@else {
        <div class="w-16 h-16 rounded-full bg-white overflow-hidden">
        <img src="assets/default-profile.png"
             alt="Avatar"
             class="object-cover w-full h-full"/>
      </div>
      }
      <div>
        <h2 class="text-xl font-semibold">Hola, {{ u.name }}</h2>
        <p class="text-sm">{{ connectionCount() }} conexiones especiales</p>
      </div>
    </div>

    <div class="flex justify-end">
      <button
        (click)="logout()"
        class="bg-white text-pink-600 font-semibold px-4 py-2 text-sm rounded-full shadow-md hover:bg-pink-50 transition-colors"
      >
        Cerrar sesión
      </button>
    </div>
  </div>
